# Data files
/data/
*.vcf
*.vcf.gz
# Ignore all contents within data, but keep the dir if needed.
/data/*
!/data/.gitkeep

# Intermediate bioinformatics files
*.bam
*.bam.bai
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.bed
*.aln
*.idx
*.index
*.sorted.*

# Cache and output directories
/cache/
/output/
/tests/cache/
/tests/output/
/test_output/

# Results directories
/analysis_results/
/comprehensive_report/
/integrated_analysis/
/pipeline_output/
/images/
# Logs and reports
/logs/
*.log
*.html
*.pdf
*.csv
*.tsv
*.xlsx
*.json
repo-to-text_*.txt
cleanup_report_*.json

__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
ENV/

# Explicitly ignore .env files at the root or elsewhere
*.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# OS specific files
.DS_Store
Thumbs.db

# Temporary and intermediate files
*.tmp
*.temp
*.bak
*.~
*.part
*~

# windsurf rules
.windsurfrules
reference/hg38.fa
reference/hg38.fa.0123
reference/hg38.fa.amb
reference/hg38.fa.ann
reference/hg38.fa.bwt.2bit.64
reference/hg38.fa.gz
reference/hg38.fa.pac
pipeline_output/KetanRaturi-SQ4T88M8-30x-WGS-Sequencing_com-08-24-24.sam
gaslit_af_combined_report.html
gaslit_af_combined_report.html
